<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body>
    <p>Information has been transferred to the database successfully.
        This application will be reviewed by a Banker and will notify you later on.</p>
    <button>Redirect you to Home Page</button>
    <div class="hero">
        <nav>
            <ul>
                <li><strong><a href="Customer.html">Home</a></strong></li>
                <li><strong><a href="Contact.html">Contact</a></strong></li>
                <li><strong><a href="TransferFunds.html">Transfer Funds</a></strong></li>
                <li><strong><a href="withdrawaldeposit.html">Withdrawal/Deposit</a></strong></li>
                <li><strong><a href="/CreditCard/apply">Credit Card</a></strong></li> <!-- /CreditCard/apply -->
                <button onclick="redirectToPage2()">Panic Button</button>
                <script>
                    function redirectToPage2() {
                        window.location.href = 'Customer.html';
                    }
                </script>
                <li><strong><a href="AFLoan.html">Apply for loan</a></strong></li>
                <li><strong><a href="Prototype.html">Logout</a></strong></li>
            </ul>
        </nav>
    </div>

</body>
</html>